body {
	background-color: #FFBBBB;
	font-size: 2em;
}
h1 {
	font-size: 1.5em;
}
.blockgroup {
	background: ivory;
	box-shadow: 1px 1px 4px gray;
	padding: 10px;
	margin-bottom: 5px;
	display: inline-block;
	width: 80vw;
	text-align: left;
}
