{% extends "base.html" %} {% block main %}
<h1>{{time}}</h1>
<div class="timechoice">
  <div class="all_choose">
    <input type="checkbox" id="all" name="전체 선택" />
    <label for="all"><span>전체 선택</span></label>
  </div>
  <!-- .all_choose-->
</div>
<!--timechoice-->

<ul>
  <li>
    <input type="checkbox" id="a1" name="1" />
    <label for="1"><span>09:00~09:30</span></label>
  </li>
  <li>
    <input type="checkbox" id="a1" name="1" />
    <label for="1"><span>09:30~10:00</span></label>
  </li>
  <li>
    <input type="checkbox" id="a1" name="1" />
    <label for="1"><span>10:00~10:30</span></label>
  </li>
  <li>
    <input type="checkbox" id="a1" name="1" />
    <label for="1"><span>10:30~11:00</span></label>
  </li>
  <li>
    <input type="checkbox" id="a1" name="1" />
    <label for="1"><span>11:00~11:30</span></label>
  </li>
  <li>
    <input type="checkbox" id="a1" name="1" />
    <label for="1"><span>11:30~12:00</span></label>
  </li>
  <li>
    <input type="checkbox" id="a1" name="1" />
    <label for="1"><span>09:00~09:30</span></label>
  </li>
  <li>
    <input type="checkbox" id="a1" name="1" />
    <label for="1"><span>09:00~09:30</span></label>
  </li>
  <li>
    <input type="checkbox" id="a1" name="1" />
    <label for="1"><span>09:00~09:30</span></label>
  </li>
  <li>
    <input type="checkbox" id="a1" name="1" />
    <label for="1"><span>09:00~09:30</span></label>
  </li>
</ul>

{% endblock %}
